.root, .border-pane, .split-pane, .dialog-pane {
    -fx-background-color: #232323;
}

.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: #232323;
}
.split-pane:vertical > .split-pane-divider {
   -fx-background-color: #232323;
}

.label {
    -fx-text-fill: #7D8282;
}


.all-dialog{
    -fx-background-color: #494646;
}
.all-dialog > *.button-bar > *.container{
    -fx-background-color: #494646;
}
.all-dialog > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.all-dialog:header *.header-panel{
    -fx-background-color: #494646;
}
.all-dialog:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: #3E4040;
}