.root, .border-pane, .split-pane {
    -fx-background-color: #F4F4F4;
}

.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: #F4F4F4;
}
.split-pane:vertical > .split-pane-divider {
   -fx-background-color: #F4F4F4;
}
